body{
    background: url(../img/revistas.jpg);
    background-attachment: fixed;
}

.coments{
    width: 45%;
    position: absolute;
    right: 10%;
    top:50px;
    background-color: white;
}

.action{
    position: absolute;
    right: 10px;
}
