body{
    background: url(../img/revistas.jpg);
    background-attachment: fixed;
}

.foto{
    width: 350px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.info{
    position: absolute;
    top: 350px;
    left: 20px;
    line-height: 5px;
}

.user{
    position: absolute;
    top: 50px;
    left: 400px;
    font-size: 30px;
    line-height: 5px;
}

p{
    font-size: 15px;
    color: #444444;
}