/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2019, 9:24:40 PM
    Author     : cesar31
*/

body{
    background: url(../img/revistas.jpg);
    background-attachment: fixed;
}

